.column {
  margin: auto;
}

.row {
  margin: auto;
}

h2{
  overflow: hidden;
  text-align: center;
  font-family: Calibri Light, Helvetica,Arial;
  color: white;
  font-size: 40px;
  background-color: #947EB0;
  padding: 10px;
}

.topnav{
  background-color: #AAAAAA;
  overflow: hidden;
}
.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;

}
p1{
  overflow: hidden;
  text-align: center;
  font-family: Helvetica,Arial;
  font-size: 20px;
  background-color: ;
}


.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 32%;
    padding: 10px;
}
.our_photos:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
