.panelHeader {
  background-color: #F5F3F6;
  padding-top: 20px;
}
.panel {
  text-align: center;
  background-color: #947EB0;
  padding: 20px;
  color: #F5F3F6;
  font-family: Courier;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: black;
  border-width: 2px;
}
h1 {
  font-size: 56px;
}
.column {
  margin: auto;
}

/*.row {
  margin: auto;
}*/

h2{
  overflow: hidden;
  text-align: center;
  font-family: Calibri Light, Helvetica,Arial;
  color: white;
  font-size: 40px;
  background-color: #947EB0;
  padding: 10px;
}

.navbar-default {
  border-color: #F3F3F6;
  border: none !Important;
}
.navbar-nav {
  text-align: center;
  color: #F5F3F6;
  background-color: #F5F3F6;
  margin: auto;
}
.navbar-collapse {
  background-color: #F5F3F6;
}
.navbar-expand-lg {
  background-color: #F5F3F6;
}
.navbar-light {
  background-color: #F5F3F6;
}
.navbar {
  background-color: #F5F3F6;
  border: 0px;
  padding: 0px;
}
p1{
  overflow: hidden;
  text-align: center;
  font-family: Helvetica,Arial;
  font-size: 20px;
  background-color: ;
}


.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}
/*.merry {
    position: relative;
    text-align: center;
}
.merry-info {
  color: white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.merry:hover .merry-info {
  opacity: 1;
}
.sophia {
    position: relative;
    text-align: center;
}
.sophia-info {
  color: white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.sophia:hover .sophia-info {
  opacity: 1;
}
.georgia {
    position: relative;
    text-align: center;
}
.georgia-info {
  color: white;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.georgia:hover .georgia-info {
  opacity: 1;
}
.container .content {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 32%;
    padding: 10px;
}*/
.our_photos:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.page-footer {
  background-color: #947EB0;
  text-align: center;
  color: #F5F3F6;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: black;
  border-width: 2px;
}
