}
.column {
  margin: auto;
}
.row {
  margin: auto;
}

}
h1{
  overflow: hidden;
  font-size: 56px;
  background-color: #754996;
}
.navbar-nav {
  text-align:  center;
  background-color: #AAAAAA;

}
 .topnav{
     background-color: #AAAAAA;
      overflow: hidden;
   }
   .topnav a{
       float: left;
       color: #f2f2f2;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 17px;
   }

img {
    border-radius: 50%;
    padding: 5px;
}
