.panelHeader {
  background-color: #F5F3F6;
  /*padding-top: 50px;*/
}
.panel {
  text-align: center;
  background-color: #947EB0;
  padding: 20px;
  color: #F5F3F6;
  font-family: Courier;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: black;
  border-width: 2px;
}
h1 {
  font-size: 56px;
}
.navbar-default {
  border-color: #F3F3F6;
  border: none !Important;
}
.navbar-nav {
  text-align: center;
  color: #F5F3F6;
  background-color: #F5F3F6;
  margin: auto;
}
.navbar-collapse {
  background-color: #F5F3F6;
}
.navbar-expand-lg {
  background-color: #F5F3F6;
}
.navbar-light {
  background-color: #F5F3F6;
}
.navbar {
  background-color: #F5F3F6;
  border: 0px;
  padding: 0px;
}
body {
  background-color: #F5F3F6;
}
.page-footer {
  background-color: #947EB0;
  text-align: center;
  color: #F5F3F6;
  margin: auto;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: black;
  border-width: 2px;
  padding: 0px;
}
.footer-copyright {
  height: 90px;
}
.facebook_logo{
  height: 40px;
  margin: auto;
  text-align: left;
}
.twitter_logo{
  height: 40px;
  margin: auto;
  text-align: center;
}
.insta_logo{
  height: 40px;
  margin: auto;
  text-align: right;
}
.col-md-1{
  margin: auto;
  text-align: center;
}
.footer-copyright {
  height: 50px;
  padding: 0px;
}
