.column {
  margin: auto;
}
.row {
  margin: auto;
}
.profile_photo {
  height: 200px;
  padding: 5px;
}
.title {
  text-align: center;
}
h1 {
  font-size: 56px;
}
#navbar {
  text-align: center;
}
