.people-grid {
  height: 100%;
}
.column {
  margin: auto;
}
.people_row {
  margin: auto;
  height: 32%;
}
.profile_photo {
  height: 200px;
  padding: 5px;
}
.quote {
  color: white;
  font-weight: bold;
  background-color: rgba(148, 126, 176, 0.7);
  font-family: 'Source Sans', sans-serif;
}
.panelHeader {
  background-color: #F5F3F6;
  padding-top: 20px;
}
.panel {
  text-align: center;
  background-color: #947EB0;
  padding: 20px;
  color: #F5F3F6;
  font-family: Courier;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: black;
  border-width: 2px;
}
h1 {
  font-size: 56px;
  font-family: 'Noto Sans', sans-serif;
}
.navbar-default {
  border-color: #F3F3F6;
  border: none !Important;
}
.navbar-nav {
  text-align: center;
  color: #F5F3F6;
  background-color: #F5F3F6;
  margin: auto;
}
.navbar-collapse {
  background-color: #F5F3F6;
}
.navbar-expand-lg {
  background-color: #F5F3F6;
}
.navbar-light {
  background-color: #F5F3F6;
}
.navbar {
  background-color: #F5F3F6;
  border: 0px;
  padding: 0px;
}
body {
  background-color: #F5F3F6;
}
@media only screen and (min-width: 768px) {
  .row {
    height: 30%;
  }
}
.person-1-photo {
  height: 250px;
  align: left;
}
.story {

  align: right;
}
.close-button {
  align: right;
}
.page-footer {
  background-color: #947EB0;
  text-align: center;
  color: #F5F3F6;
  margin: auto;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: black;
  border-width: 2px;
  padding: 0px;
}
.footer-copyright {
  height: 90px;
}
.facebook_logo{
  height: 40px;
  margin: auto;
  text-align: left;
}
.twitter_logo{
  height: 40px;
  margin: auto;
  text-align: center;
}
.insta_logo{
  height: 40px;
  margin: auto;
  text-align: right;
}
.col-md-1{
  margin: auto;
  text-align: center;
}
.footer-copyright {
  height: 50px;
  padding: 0px;
}
/* OVERLAYING IMAGE QUOTES */
.profile_photo:hover {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.person-1 {
    position: relative;
    text-align: center;
}
.quote-1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-1:hover .quote-1 {
  opacity: 1;
}
.person-2 {
    position: relative;
    text-align: center;
}
.quote-2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-2:hover .quote-2 {
  opacity: 1;
}
.person-3 {
    position: relative;
    text-align: center;
}
.quote-3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-3:hover .quote-3 {
  opacity: 1;
}
.person-4 {
    position: relative;
    text-align: center;
}
.quote-4 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-4:hover .quote-4 {
  opacity: 1;
}
.person-5 {
    position: relative;
    text-align: center;
}
.quote-5 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-5:hover .quote-5 {
  opacity: 1;
}
.person-6 {
    position: relative;
    text-align: center;
}
.quote-6 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-6:hover .quote-6 {
  opacity: 1;
}
.person-7 {
    position: relative;
    text-align: center;
}
.quote-7 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-7:hover .quote-7 {
  opacity: 1;
}
.person-8 {
    position: relative;
    text-align: center;
}
.quote-8 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-8:hover .quote-8 {
  opacity: 1;
}
.person-9 {
    position: relative;
    text-align: center;
}
.quote-9 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-9:hover .quote-9 {
  opacity: 1;
}
.person-10 {
    position: relative;
    text-align: center;
}
.quote-10 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-10:hover .quote-10 {
  opacity: 1;
}
.person-11 {
    position: relative;
    text-align: center;
}
.quote-11 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-11:hover .quote-11 {
  opacity: 1;
}
.person-12 {
    position: relative;
    text-align: center;
}
.quote-12 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.person-12:hover .quote-12 {
  opacity: 1;
}
