.column {
  margin: auto;
}
.row {
  margin: auto;
}
.profile_photo {
  height: 240px;
  padding: 5px;
}
.panelHeader {
  background-color: #F5E5FC;
  padding-top: 50px;
}
.panel {
  text-align: center;
  background-color: #947EB0;
  padding: 20px;
  color: #F5E5FC;
}
h1 {
  font-size: 56px;
}
.navbar-nav {
  text-align: center;
  background-color: #AAAAAA;
}
body {background-color: #F5E5FC;
}
