.panelHeader {
  background-color: #F5F3F6;
  padding-top: 50px;
}
.panel {
  text-align: center;
  background-color: #947EB0;
  padding: 20px;
  color: #F5F3F6;
}
form {
  padding: 50px;
}
.form-control{
  width: 700px;
}
.form-horizontal{
  margin: auto;
}
p1{
  overflow: hidden;
  text-align: center;
  font-family: Helvetica,Arial;
  font-size: 20px;
  background-color: ;
}
