.panelHeader {
  background-color: #F9F0FD;
  padding-top: 50px;
}
.panel {
  text-align: center;
  background-color: #947EB0;
  padding: 20px;
  color: #F9F0FD;
}
form {
  style="margin-left:2.5em;padding: 0.7em 2em"
}
