.panelHeader {
  background-color: #F5F3F6;
  padding-top: 20px;
}
.panel {
  text-align: center;
  background-color: #947EB0;
  padding: 20px;
  color: #F5F3F6;
  font-family: Courier;
}
h1 {
  font-size: 56px;
}
.navbar-default {
  border-color: #F3F3F6;
  border: none !Important;
}
.navbar-nav {
  text-align: center;
  color: #F5F3F6;
  background-color: #F5F3F6;
  margin: auto;
}
.navbar-collapse {
  background-color: #F5F3F6;
}
.navbar-expand-lg {
  background-color: #F5F3F6;
}
.navbar-light {
  background-color: #F5F3F6;
}
.navbar {
  background-color: #F5F3F6;
  border: 0px;
  padding: 0px;
}
form {
  padding: 50px;
  margin: auto;
}
.form-control{
  width: 700px;
}
.form-horizontal{
  margin: auto;
}
p1{
  overflow: hidden;
  text-align: center;
  font-family: Helvetica,Arial;
  font-size: 20px;
  background-color: ;
}
.page-footer {
  background-color: #947EB0;
  text-align: center;
  color: #F5F3F6;
}
